.root{
    -fx-background-color: ##D3D3D3;
}
.top_bar{
    -fx-background-color: 	linear-gradient(to bottom,#1E90FF, #1E90FF);
     }
.image_view{
    -fx-border-color: #A9A9A9;
    -fx-background-color: 	#1E90FF;
}

.text_field{
    -fx-border-color: #000000;
}
